.table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th {
  background-color: #e2e8d0;
  border: 1px solid #cbd5d0;
  padding: 10px;
  text-align: left;
}

.table td {
  border: 1px solid #cbd5d0;
  padding: 10px;
}

.table tr:nth-child(even) {
  background-color: azure;
}
